@import './variables';

.line-cards{
    margin: 60px 0;
    display: flex;
    gap: 23px;
}

.decor-card{
    background-image: url(/assets/decor.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 300px;
    height: 100%;

    &__second{
       background-color: rgba(0, 0, 0, 0.4);
       height: 100%; 
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       padding: 0 50px;
       height: 100%;
    }
    h3{
        color: $textLightColor;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    p{
        color: $textLightColor;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}


.decor__list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card__img{
    position: relative;
    margin-bottom: 32px;
    height: 450px;
    width: 300px;
}

.card-hover{
    display: block;
    position: absolute;
    top:50%;
    left: 8%;

    &__div{
    background-color: white;
    padding: 16px 68px;
    border-radius: 50px;
    display: flex;
    gap: 50px;
    }
    button{
        background-color: inherit;
        border: none;
    }
}

.add-to-carat{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 60px;
        height: 100%;
        width: 2px;
        background-color: black;
    }
}

.card__info{
    h4{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 18px;
    }
    p{
        font-size: 24px;
        font-weight: 600;
        margin: 18px 0;
    }
}

.cardImg{
    max-width: 300px;
    width: 100%;
}

.decor__item{

}