@import './variables';

.line-cards{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 23px;
    @media only screen and (max-width: 1024px) {
        gap: 16px;
    }
}
.swiper{
    width: fit-content;
    max-height: 515px;
    height: 100%;
    padding: 10px 0;
    @media only screen and (max-width: 1024px) {
        max-height: 422px;
    }
    @media only screen and (max-width: 768px) {
        max-height: 339px;
    }
    @media only screen and (max-width: 479px) {
        max-height: 275px;
    }
}

.decor-card{
    background-image: url(/assets/decor.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 300px;
    height: 100%;
    @media only screen and (max-width: 1024px) {
        height: 100%;
    }
    @media only screen and (max-width: 768px) {
        display: none;
    }

    &__second{
       background-color: rgba(0, 0, 0, 0.4);
       height: 100%; 
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       padding: 0 50px;
       height: 100%;
        @media only screen and (max-width: 1024px) {
            width: 200px;
            padding: 0 10px;
        }
    }
    h3{
        color: $textLightColor;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    p{
        color: $textLightColor;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}


.decor__list{
    display: flex;
    // flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    @media only screen and (max-width: 1024px) {
            gap: 16px;
            justify-content: space-between;
        }
}

.card__img{
    position: relative;
    margin-bottom: 32px;
    height: 450px;
    width: 300px;
    @media only screen and (max-width: 1024px) {
        width: 200px;
        height: 300px;
    }
}

.card-hover{
    display: block;
    position: absolute;
    top:50%;
    left: 8%;

    &__div{
    background-color: white;
    padding: 16px 68px;
    border-radius: 50px;
    display: flex;
    gap: 50px;
    }
    button{
        background-color: inherit;
        border: none;
    }
}

.add-to-carat{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 60px;
        height: 100%;
        width: 2px;
        background-color: black;
    }
}

.card__info{
    h4{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 18px;
    }
    p{
        font-size: 24px;
        font-weight: 600;
        margin: 18px 0;
    }
}

.cardImg{
    max-width: 300px;
    width: 100%;
}

.decor__item{
    @media only screen and (max-width: 479px) {
        width: fit-content;
        margin: 0 auto;
    }
}

.decor-second{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    @media only screen and (max-width: 1024px) {
            gap: 16px;
        }
}

.card-second{
background-image: url(/assets/img/towel.png);
}

.swiper-mobile{
    display: none;
    width: fit-content;
        max-height: 515px;
        height: 100%;
    @media only screen and (max-width: 479px) {
        display: block;
    }
}

.swiper-pagination{
    position: relative;
}

.listA{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    
    margin: 20px auto 0;
}

.second-slider{
    position: relative;
    width: fit-content;
        max-height: 515px;
        height: 100%;
}