@import './variables';

.header{
    background-color: $greyColor;
}

.header-top{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 0 24px ;
    padding: 24px 0 0;

    &_logo{
    display: flex;
    flex-grow: 1;
    gap: 16px;
    align-items: flex-end;
    }
    &_brand-name{
        font-size: 28px;
        font-weight: 600;
    }

    &_toggle{
    display: flex; 
    align-items: flex-end;
    gap: 28px;
    max-height: 154px;
    @media only screen and (max-width: 479px) {
        display: none;
    }
    }
}

.header-nav{
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 26px;
    
    ul{
       display: flex; 
       align-items: center;
       justify-content: space-around;
       flex-wrap: wrap;
       gap: 12px;
       position: relative;
       padding: 14px 122px 8px;
        @media only screen and (max-width: 1279px) {
            padding: 14px 50px 8px;
        }
        @media only screen and (max-width: 1023px) {
            
        }
        @media only screen and (max-width: 768px) {
            display: none;
        }

       &::after{
            left: 0;
            content: '';
            position: absolute;
            width: 100%;
            height: 1px; 
            bottom: 0;  
            background-color: #323334;     
       }
       &::before{
            left: 0;
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 0;
            background-color: #323334;
       }
    }
    &_a{
        font-weight: 600;
    }
    
}

.header-search{
    max-width: 716px;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 0 auto 30px;
    gap: 7px;

    &_field{
        flex-grow: 1;
        position: relative;
        display: flex;
        padding: 5px 0;
    }

    &_btn{
        background-color: $greenColor;
        color: $textLightColor;
        font-size: 20px;
        font-weight: 600;
        border: none;
        padding: 17px 34px;

        @media only screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.search{
    &_item{
        position: absolute;
        top: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    &_field{
        padding-left: 70px;
        font-size: 18px;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $greyColor;
        border-radius: 25px;
        border: 2px solid #050019;
    }
}

.header-pluses{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;

    @media only screen and (max-width: 479px) {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    
    }

    &_item{
        display: flex;
        align-items: flex-end;
        gap: 14px; 
    }

    p{
        font-size: 12px;
        font-weight: 600;
        color: hsl(210, 2%, 20%, 0.5);  
        text-transform: uppercase; 
    }
}