@import './variables';

*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #323334;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    margin: 0 70px;

    @media only screen and (max-width: 768px) {
        margin: 0 40px;
    }
    @media only screen and (max-width: 479px) {
        margin: 0 20px;
    }
}

.container-ivy{
    margin: 0;
}

.hidden{
    display: none;
}

.buttom {
    padding: 16px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border: 2px solid $textLightColor;
    color: $textLightColor;
    background-color: $greenColor;
    text-transform: uppercase;
    @media only screen and (max-width: 768px) {
        font-size: 14px;
    }
    @media only screen and (max-width: 479px) {
        padding: 6px 9px;
        color: $darkblueColor;
        background-color: transparent;
        border: 2px solid $darkblueColor;
    }
}