.header-top__mobile-menu{
    display: none;

    button{
        background: transparent;
        border: none;
    }
    @media only screen and (max-width: 479px) {
            display: block;
            
    }
}