.main {
  background-color: #F3F6FF;
}

.new-products {
  display: flex;
  margin-top: 23px;
  gap: 23px;
}
@media only screen and (max-width: 1278px) {
  .new-products {
    flex-wrap: wrap;
  }
}
.new-products h3 {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 900;
}
@media only screen and (max-width: 767px) {
  .new-products h3 {
    font-size: 1.5rem;
  }
}
.new-products__left {
  max-width: 636px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(250, 250, 250);
  position: relative;
}
@media only screen and (max-width: 1278px) {
  .new-products__left {
    max-width: none;
  }
}
.new-products__left h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media only screen and (max-width: 479px) {
  .new-products__left h3 {
    font-size: 1rem;
  }
}
.new-products__left__info {
  position: relative;
  left: -60px;
}
@media only screen and (max-width: 1278px) {
  .new-products__left__info {
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .new-products__left__photo {
    width: 50%;
  }
}
.new-products__right {
  max-width: 636px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(234, 233, 231);
}
@media only screen and (max-width: 1278px) {
  .new-products__right {
    max-width: none;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 767px) {
  .new-products__right {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .main-page__decor {
    display: none;
  }
}

.bedsheet {
  background-image: url(../assets/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bedsheet-div {
  padding: 60px 130px;
  background-color: rgba(249, 211, 112, 0.8);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media only screen and (max-width: 768px) {
  .bedsheet-div {
    padding: 24px 40px;
  }
}
.bedsheet-div__h2 {
  font-size: 28px;
  font-weight: 600;
  color: #050019;
  margin-bottom: 28px;
}
.bedsheet-div__prise {
  display: flex;
  gap: 30px;
  margin-bottom: 23px;
}
.bedsheet-div__prise p {
  color: #A86A3D;
  font-size: 28px;
  font-weight: 600;
}
.bedsheet-div__p {
  margin-bottom: 36px;
  max-width: 320px;
}

.line-on-text {
  text-decoration: line-through;
  font-size: 16px;
  color: #A86A3D;
  font-weight: 600;
}

.bedsheet__container {
  padding: 115px 36px;
}
@media only screen and (max-width: 768px) {
  .bedsheet__container {
    padding: 0;
  }
}

.line-cards {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
@media only screen and (max-width: 1024px) {
  .line-cards {
    gap: 16px;
  }
}

.swiper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 515px;
  height: 100%;
  padding: 10px 0;
}
@media only screen and (max-width: 1024px) {
  .swiper {
    max-height: 422px;
  }
}
@media only screen and (max-width: 768px) {
  .swiper {
    max-height: 339px;
  }
}
@media only screen and (max-width: 479px) {
  .swiper {
    max-height: 275px;
  }
}

.decor-card {
  background-image: url(/assets/decor.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .decor-card {
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .decor-card {
    display: none;
  }
}
.decor-card__second {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 50px;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .decor-card__second {
    width: 200px;
    padding: 0 10px;
  }
}
.decor-card h3 {
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.decor-card p {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

.decor__list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  .decor__list {
    gap: 16px;
    justify-content: space-between;
  }
}

.card__img {
  position: relative;
  margin-bottom: 32px;
  height: 450px;
  width: 300px;
}
@media only screen and (max-width: 1024px) {
  .card__img {
    width: 200px;
    height: 300px;
  }
}

.card-hover {
  display: block;
  position: absolute;
  top: 50%;
  left: 8%;
}
.card-hover__div {
  background-color: white;
  padding: 16px 68px;
  border-radius: 50px;
  display: flex;
  gap: 50px;
}
.card-hover button {
  background-color: inherit;
  border: none;
}

.add-to-carat {
  position: relative;
}
.add-to-carat::after {
  content: "";
  position: absolute;
  left: 60px;
  height: 100%;
  width: 2px;
  background-color: black;
}

.card__info h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.card__info p {
  font-size: 24px;
  font-weight: 600;
  margin: 18px 0;
}

.cardImg {
  max-width: 300px;
  width: 100%;
}

@media only screen and (max-width: 479px) {
  .decor__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}

.decor-second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .decor-second {
    gap: 16px;
  }
}

.card-second {
  background-image: url(/assets/img/towel.png);
}

.swiper-mobile {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 515px;
  height: 100%;
}
@media only screen and (max-width: 479px) {
  .swiper-mobile {
    display: block;
  }
}

.swiper-pagination {
  position: relative;
}

.listA {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 0;
}

.second-slider {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 515px;
  height: 100%;
}

.fotter {
  background-color: #0A032A;
}
.fotter h3 {
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 34px;
}
.fotter h2 {
  font-size: 28px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 40px;
}
.fotter p {
  color: hsla(0deg, 0%, 100%, 0.5);
  margin-bottom: 16px;
}
.fotter a {
  color: hsla(0deg, 0%, 100%, 0.5);
  margin-bottom: 16px;
}
.fotter li {
  margin-bottom: 16px;
}

.number {
  font-size: 24px;
  color: hsla(0deg, 0%, 100%, 0.5);
  margin-right: 8px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
@media only screen and (max-width: 1024px) {
  .icons {
    width: 100%;
  }
}

.svg-fotter {
  fill: #FFF;
}

.fotter-div {
  max-width: 314px;
}
@media only screen and (max-width: 1024px) {
  .fotter-div {
    max-width: 260px;
  }
}
@media only screen and (max-width: 767px) {
  .fotter-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}

.fotter-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 50px 0;
}
@media only screen and (max-width: 767px) {
  .fotter-container {
    display: none;
  }
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 41px;
}
.adress a {
  color: #FFF;
  font-weight: 600;
}

.update-top {
  margin-bottom: 67px;
  position: relative;
}
.update-top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #FFF;
  bottom: -33px;
  left: 0;
}

.botton {
  background-color: #050019;
  color: white;
  padding: 20px 0;
}
.botton p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.fotter-mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  .fotter-mobile {
    display: block;
  }
}

.header {
  background-color: #F3F6FF;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 24px;
  padding: 24px 0 0;
}
.header-top_logo {
  display: flex;
  flex-grow: 1;
  gap: 16px;
  align-items: flex-end;
}
.header-top_brand-name {
  font-size: 28px;
  font-weight: 600;
}
.header-top_toggle {
  display: flex;
  align-items: flex-end;
  gap: 28px;
  max-height: 154px;
}
@media only screen and (max-width: 479px) {
  .header-top_toggle {
    display: none;
  }
}

.header-nav {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 26px;
}
.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 12px;
  position: relative;
  padding: 14px 122px 8px;
}
@media only screen and (max-width: 1279px) {
  .header-nav ul {
    padding: 14px 50px 8px;
  }
}
@media only screen and (max-width: 768px) {
  .header-nav ul {
    display: none;
  }
}
.header-nav ul::after {
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #323334;
}
.header-nav ul::before {
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background-color: #323334;
}
.header-nav_a {
  font-weight: 600;
}

.header-search {
  max-width: 716px;
  display: flex;
  justify-content: center;
  margin: 0 auto 30px;
  gap: 7px;
}
.header-search_field {
  flex-grow: 1;
  position: relative;
  display: flex;
  padding: 5px 0;
}
.header-search_btn {
  background-color: #4C8787;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 17px 34px;
}
@media only screen and (max-width: 768px) {
  .header-search_btn {
    font-size: 16px;
  }
}

.search_item {
  position: absolute;
  top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.search_field {
  padding-left: 70px;
  font-size: 18px;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F3F6FF;
  border-radius: 25px;
  border: 2px solid #050019;
}

.header-pluses {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
}
@media only screen and (max-width: 479px) {
  .header-pluses {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
.header-pluses_item {
  display: flex;
  align-items: flex-end;
  gap: 14px;
}
.header-pluses p {
  font-size: 12px;
  font-weight: 600;
  color: hsla(210deg, 2%, 20%, 0.5);
  text-transform: uppercase;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #323334;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 70px;
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0 40px;
  }
}
@media only screen and (max-width: 479px) {
  .container {
    margin: 0 20px;
  }
}

.container-ivy {
  margin: 0;
}

.hidden {
  display: none;
}

.buttom {
  padding: 16px 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  border: 2px solid white;
  color: white;
  background-color: #4C8787;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .buttom {
    font-size: 14px;
  }
}
@media only screen and (max-width: 479px) {
  .buttom {
    padding: 6px 9px;
    color: #050019;
    background-color: transparent;
    border: 2px solid #050019;
  }
}

.header-top__mobile-menu {
  display: none;
}
.header-top__mobile-menu button {
  background: transparent;
  border: none;
}
@media only screen and (max-width: 479px) {
  .header-top__mobile-menu {
    display: block;
  }
}

.slider {
  background-color: #F9D370;
  position: relative;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.slider-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
}
@media only screen and (max-width: 1278px) {
  .slider-page {
    gap: 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .slider-page {
    gap: 0px;
  }
}
.slider-page__img {
  margin: 55px 0;
}
@media only screen and (max-width: 1024px) {
  .slider-page__img {
    width: 90%;
  }
}
.slider-page__img__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.slider-page__info {
  margin-right: 130px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .slider-page__info {
    margin-right: 70px;
  }
}
.slider-page h3 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 25px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  .slider-page h3 {
    font-size: 1rem;
  }
}
.slider-page h2 {
  font-size: 48px;
  font-weight: 900;
  color: #A86A3D;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  .slider-page h2 {
    font-size: 2rem;
  }
}

.swiper-pagination-bullet {
  --swiper-pagination-color: #F3F6FF;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: #0A032A;
}

.swiper-wrapper {
  padding-bottom: 20px;
}

.swiper-mobile {
  display: none;
}/*# sourceMappingURL=style.css.map */