@import '../utilites/variables';

.main{
    background-color: $greyColor;
}

.new-products{
    display: flex;
    margin-top: 23px;
    gap: 23px;
    @media only screen and (max-width: 1278px) {
        flex-wrap: wrap;
    }
    h3{
        margin-bottom: 40px;
        font-size: 28px;
        font-weight: 900;
        @media only screen and (max-width: 767px) {
            font-size: 1.5rem;
        }
    }
    &__left{
        max-width: 636px;
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(250, 250, 250, 1);
        position: relative;
        @media only screen and (max-width: 1278px) {
            max-width: none;
        }
        
        h3{
            width: max-content;
            @media only screen and (max-width: 479px) {
                font-size: 1rem;
            }
        }
        &__info{
            position: relative;
            left: -60px;
            @media only screen and (max-width: 1278px) {
                left: 0;
            }
        }
        &__photo{
            @media only screen and (max-width: 767px) {
                width: 50%;
            }
        }
    }
    &__right{
        max-width: 636px;
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(234, 233, 231, 1);
        @media only screen and (max-width: 1278px) {
            max-width: none;
            justify-content: flex-start;
            flex-direction: row-reverse;
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
    
}

.main-page__decor{
    @media only screen and (max-width: 479px) {
        display: none;
    }
}

.bedsheet{
    background-image: url(../assets/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bedsheet-div {
    // margin: 115px 36px;
    padding: 60px 130px;
    background-color: rgba(249, 211, 112, 0.8);
    max-width: fit-content;
    @media only screen and (max-width: 768px) {
        padding: 24px 40px;
    }
    
    &__h2 {
        font-size: 28px;
        font-weight: 600;
        color: $darkblueColor;
        margin-bottom: 28px;
    };

    &__prise {
        display: flex;
        gap: 30px;
        p{
            color: $textTopColor;
            font-size: 28px;
            font-weight: 600;
        }
        margin-bottom: 23px;
    };

    &__p {
        margin-bottom: 36px;
        max-width: 320px
    };
};

.line-on-text {
    text-decoration: line-through;
    font-size: 16px;
    color: $textTopColor;
    font-weight: 600;
}

.bedsheet__container{
padding: 115px 36px;
@media only screen and (max-width: 768px) {
        padding: 0;
    }
}